.main {
  margin-top: 50px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imageList li {
  position: relative;
  width: 50%;
}

.imageList li .checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.imageList li img {
  width: 100%;
  height: auto;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
  border: 1px solid #000;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottoms_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.bottoms_block input {
  margin: 20px 0;
}

.awesome {
  -ms-flex-item-align: center;
      align-self: center;
}
