.main{
  margin-top: 50px;
}
.form{
  display: flex;
  flex-direction: column;

}
.imageList{
  display: flex;
  list-style: none;
  padding-left: 0;
flex-wrap: wrap;
  li{
    position: relative;
    width: 50%;
   .checkbox{
      position: absolute;
      top:0;
      right: 0;
      width: 30px;
      height: 30px;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}
.item{
  display: flex;
  flex-direction: column;
  min-height: 300px;
  border: 1px solid #000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.bottoms_block{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
input{
  margin: 20px 0;
}
}
.awesome{
 align-self: center;
}
